* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif !important;
}

///var
$color_1: #2a753d;
$color_2: #c9d12c;
$color_3: #94c93d;

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
.line {
    border: 2px solid $color_1;
    width: 80px;
    margin: 1.4rem auto;
}

//mixing

// *********************************************** start styling

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66);
    border-radius: 30px;
}

header {
    .navbar {
        // box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
        background-color: white !important;
        .navbar-nav {
            .nav-item {
                border-bottom: 2px solid transparent;
                margin-left: 0.5rem;
                .nav-link {
                    font-size: 14px !important;
                    color: rgba(0, 0, 0, 0.8) !important;
                    font-weight: 600 !important;
                    text-transform: capitalize !important;
                    font-family: "Poppins", sans-serif !important;
                    cursor: pointer;
                }
            }
        }
        .search_ico {
            padding-left: 1rem;
        }
    }

    .banner {
        position: relative;
        .owl-carousel {
            .item {
                img {
                    height: 70vh;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .owl-nav {
            position: absolute;
            left: 9%;
            bottom: 2%;
            outline-style: none !important;
            img {
                width: 40px;
                padding: 0rem;
                height: 50px;
            }

            .owl-prev:hover,
            .owl-next:hover {
                background: none !important;
                color: red;
                transform: scale(1.1);
                transition: 0.4s;
                fill: red !important;
            }
        }
        .img_carousel_text {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 8%;
            left: 0%;
            .container {
                width: 100%;
                height: auto;
                .inner_text {
                    width: 50%;
                    .corona_update {
                        padding: 0.3rem;
                        display: flex;
                        align-items: center;
                        background-color: rgba(0, 0, 0, 0.2);
                        border-radius: 1.5rem;
                        a {
                            padding: 0.5rem 1.8rem;
                            background-color: $color_1;
                            border-radius: 1.5rem;
                            color: white;
                            font-weight: bold;
                        }
                        span {
                            color: wheat;
                            font-weight: 600;
                            padding: 0rem 0.8rem;
                        }
                    }
                    p {
                        font-weight: 300 !important;
                        font-size: 2.5rem;
                        margin-top: 1rem;
                    }
                    h1 {
                        font-weight: bold;
                        text-transform: uppercase;
                        line-height: 3.5rem;
                    }
                    .btn {
                        background-color: $color_1;
                        border-radius: 1.5rem;
                        padding: 0.6rem 1rem;
                        color: white;
                        font-weight: bold;
                        margin-top: 1rem;
                        text-transform: uppercase;
                        i {
                            margin: 0rem 0.5rem;
                            font-weight: bolder;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    header {
        .container {
            .inner_text {
                width: 100% !important;
                .corona_update {
                    span {
                        font-size: 0.8rem;
                    }
                }
                p {
                    font-size: 2rem !important;
                }
                h1 {
                    font-size: 1.2rem !important;
                    line-height: 2rem !important;
                }
            }
        }
    }
}
//end of header

.sap_products {
    margin-top: 1rem;
    .upper_heading_sap_products {
        p {
            margin: 0rem;
            padding: 0rem;
            color: $color_1;
            font-weight: 600;
            font-size: 1.3rem;
        }
        h2 {
            margin-top: 1rem;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 500;
        }
    }
    .casting_side {
        h2 {
            font-weight: 100 !important;
            font-size: 2.5rem;
            margin-top: 4rem;
        }
        p {
            font-size: 1.2rem;
            color: black;
            opacity: 0.8;
            line-height: 2rem;
            margin-bottom: 2rem;
        }
        .know_btn_child {
            border: 0.1rem solid black;
            border-radius: 1.5rem;
            padding: 0.8rem 1rem;
        }
        span {
            padding: 0.1rem 2rem;
        }
        .download {
            border-radius: 2rem;
            margin-bottom: 1rem;
            padding: 0rem;
            margin-top: 3rem;
            background-color: $color_1;
            font-weight: bold;
            color: white;
            img {
                width: 50px;
                transform: translateX(4px);
            }
        }
    }
    .img_side {
        img {
            margin: auto;
            text-align: center;
            display: block;
        }
    }
    .sap_products_footer {
        .nav-tabs {
            border: none !important;
            .nav-item {
                border: none !important;
                .nav-link {
                    border: none !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 550px) {
    .sap_products {
        .tab-content {
            .upper_heading_sap_products {
                h2 {
                    font-size: 1.6rem;
                    margin-top: 0.5rem !important;
                }
            }
        }
        .casting_side {
            h2 {
                margin-top: 1rem !important;
                text-align: center;
                font-size: 1.8rem;
            }
            p {
                font-size: 1rem;
                text-align: center;
            }
            .know_btn {
                text-align: center !important;
            }
            .download {
                display: block;
                margin: 1.8rem auto;
            }
        }
        .tab-pane {
            .img_side {
                img {
                    width: 100%;
                }
                width: 100% !important;
            }
        }
    }
    .sap_products_footer {
        img[alt="product_section_dotted"] {
            display: none;
        }
        .nav-tabs {
            text-align: center;
            margin-top: 2rem;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

//end of sap_products

.global_pharmaceutical_section {
    color: white;

    padding: 2.5rem 0rem;
    background-image: url("../img/Assets/vision_bg.jpg");
    background-size: 100%;
    span {
        color: $color_2;
    }
    h2 {
        line-height: 3rem;
    }
}
@media only screen and (max-width: 550px) {
    .global_pharmaceutical_section {
        margin-top: 2rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .about_us {
        margin-top: 0rem !important;
    }
}
//end of global_pharmaceutical_section

.about_us {
    margin-top: 4rem !important;
    .row {
        background-color: $color_2;
        text-align: justify;
        .about_con {
            h3 {
                font-weight: 600;
            }
            p {
                line-height: 1.8rem;
            }
            padding: 2rem;
        }
        .img {
            background-image: url("../img/Assets/about_image.jpg");
            background-size: 100% 100%;
        }
    }
} //about_us

.customers_feedbacks {
    margin-top: 4rem;
    .testimonial_image {
        display: block;
        text-align: right;
        background-color: white;
        img {
            transform: translateX(2.4rem);
        }
    }
    .feedback_content {
        position: relative;
        z-index: -3;
        background-color: $color_3;
        padding: 2rem;
        h3 {
            font-size: 2.6rem;
        }
        p {
            margin-top: 2rem;
            font-size: 1.2rem;
            line-height: 1.8;
            text-align: justify;
            padding-right: 6rem;
        }
        .quote {
            position: absolute;
            top: -30%;
            right: 0%;
        }
    }
}
@media only screen and (max-width: 550px) {
    .customers_feedbacks{
        .testimonial_image{
            width: 100% !important;
            text-align: center !important;
            img {
                transform: translateX(0rem) !important;
                width: 100%;
            }
        }
    }
}
//end of customers_feedbacks

footer {
    border-bottom: 1px solid $color_1;
    margin-top: 4rem;
    background-image: linear-gradient(to right, $color_1, $color_2);
    .row {
        padding: 2rem 0rem;
        h4 {
            font-weight: bold;
            font-size: 1.2rem;
        }
        ul {
            list-style: none;
            margin: 0rem;
            padding: 0rem;
            li {
                line-height: 2.5rem;
                .icons {
                    i {
                        margin-right: 0.5rem;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .footer_copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0rem;
        p {
            font-weight: bold;
        }
    }
} //end of footer

// **************************************************End of index page *****************************************
// **************************************************Start of About us page *****************************************

.product_page {
    .banner {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url("../img/Assets/plaster_about.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 70vh;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    } //end of banner
    .company_makes {
        margin: 3rem 0rem;
        strong {
            color: #2a753d;
        }
        p {
            margin: 2rem 0rem;
            font-size: 1rem;
            text-align: center;
            color: gray;
        }
        h4 {
            font-weight: bold;
            color: $color_1;
            font-size: 1.8rem;
        }
    }
    .sap_products {
        .tab-content {
            margin: 3rem auto;
            h3 {
                font-family: "NanumSquareR", Arial, Tahoma, sans-serif;
                font-weight: bold;
                font-size: 2.3rem;
            }
            .sap_products_box {
                background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url("../img/Assets/product_bg_img3.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                margin: 3rem 0rem;
                .left {
                    background-color: $color_3;
                }
                .right {
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 4rem;
                    p {
                        font-size: 1.5rem;
                    }
                }
                .top_h4 {
                    background-color: $color_1;
                    width: 100%;
                    margin: 0rem;
                    h4 {
                        font-weight: bold;
                        text-align: center;
                        color: white;
                        padding: 0.5rem 0rem;
                    }
                }
                img {
                    display: block;
                    margin: auto;
                }
            }
        }
        .ul_img {
            display: flex;
            justify-content: center;
            align-items: center;
            ul {
                border: none;
                li {
                    a {
                        border: none;
                        border: 1px solid $color_2;
                        margin: 1rem;
                    }
                    a:hover {
                        border: 1px solid $color_1;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}

// **************************************************End of product_page *****************************************
// **************************************************Start of contect_us_page *****************************************

.contect_us_page {
    header {
        .banner {
            margin-top: 3rem;
            padding: 3rem 0rem;
            background-color: #f0f5f8;
            h1 {
                color: #2a753d;
                font-weight: bolder;
            }
        }
    }
    main {
        .container {
            .row {
                margin-top: 5rem;
                h3 {
                    font-weight: 600;
                    font-size: 2.2rem;
                }
                p {
                    margin: 1rem 0rem 3rem 0rem;
                    font-size: 15px;
                    position: relative;
                    color: #165f31;
                    font-weight: 600;
                }
                label {
                    font-weight: bold;
                }
                input {
                    width: 300px;
                }
                textarea {
                    height: 100px;
                }
            }
        }
        .contect_box {
            margin-top: 2rem;
            .so_icons {
                span {
                    font-weight: 600;
                }
                padding: 1rem 0rem;
                i {
                    font-size: 1.5rem;
                    margin-right: 2rem;
                }
            }
        }
        .btn {
            background-color: $color_1;
            border-radius: 1.5rem;
            padding: 0.6rem 2rem;
            color: white;
            margin-top: 1rem;
            text-transform: uppercase;
            transition: 0.3s;
        }
        .btn:hover {
            transform: translateY(-8px);
        }
        .map {
            margin-top: 1rem;
            iframe {
                width: 100%;
                height: 250px;
                border-radius: 0.5rem;
            }
        }
        .icons {
            padding: 1rem 0rem;
            display: flex;
            justify-content: center;
            i {
                font-size: 1.6rem;
                margin: 0rem 0.5rem;
                transition: 0.4s;
            }
            i:hover {
                transform: translateY(-8px);
                color: #2a753d;
            }
        }
    }
} //end of contect_us_page

// **************************************************End of contect_us_page *****************************************
// **************************************************Start of about_us_page *****************************************

.about_us_page {
    .banner {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url("../img/Assets/plaster_about.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 50vh;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    } //end of banner
    main {
        .container_1 {
            margin-top: 3rem;
            width: 60%;
        }
        .container {
            .tital_about {
                font-size: 32px;
                line-height: 36px;
                color: #222222;
                text-transform: capitalize;
                margin-bottom: 20px;
                font-weight: bold;
            }
            .text_info {
                h4 {
                    font-size: 20px;
                    position: relative;
                    color: #165f31;
                    font-weight: 600;
                    margin: 1rem 0rem;
                }
                p {
                    margin-bottom: 15px;
                    line-height: 22px;
                }
            }
            img {
                width: 100%;
                height: 50vh;
                object-fit: cover;
                object-position: center;
                margin: 3rem 0rem;
            }
        }
        .row {
            margin-bottom: 15px;
            line-height: 22px;
        }
    }
}
